body{
	width: 100%;
}
.matheditor-btn-span{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
    min-width: 35px;
    height: 40px;
	vertical-align: middle;
    background: transparent;
    border: 1px solid #ddd;
    margin-right: 4px;
    margin-bottom: 4px;
    background: #F9F9F9;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    color: #000000;
    font-size: 16px;
    line-height: 30px;
}
.clear{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
    min-width: 65px;
	text-align: center;
    height: auto;
	vertical-align: middle;
    background: transparent;
    border: 1px solid #ddd;
    margin-right: 4px;
    margin-bottom: 4px;
    background: #F9F9F9;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    color: #000000;
    font-size: 16px;
    line-height: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.matheditor-btn-span:hover{
    background: #FFF;
    border: 1px solid #aaa
}
.mq-editable-field span.mq-hasCursor{
  box-shadow: #68b4df 0 0 3px 2px !important;
}
.op-btn .op-btn-icon{
    width: 100%;
    text-align: center;
    cursor: pointer;
	vertical-align: middle;
}
div[class^="matheditor-wrapper-"]{
    margin: auto;
}
div[class^="matheditor-toolbar-"]{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
    position: fixed;
    bottom:205px;
	margin-bottom: 3px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    background: #FFF;
}
div[class^="matheditor-wrapper-"] .mq-sup{
	font-size: 80% !important;
    top: 0;
}
div[class^="matheditor-wrapper-"] .mq-sub{
	font-size: 80% !important;
}
div[class^="matheditor-wrapper-"] .mq-editable-field, .mq-math-mode .mq-editable-field{
    border: 1px solid #ddd;
    border-radius: 4px;
}
div[class^="matheditor-wrapper-"] .mq-editable-field.mq-focused{
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: none;
}
div[class^="matheditor-wrapper-"] .op-btn img {
    width: 14pt;
    margin: auto;
    display: block;
    position: relative;
    top: 5px;
}
div[class^="matheditor-wrapper-"] .mq-root-block, .mq-math-mode .mq-root-block{
    box-shadow: none !important;
}

div[class^="matheditor-wrapper-"] ul[class^="tabs-"]{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 5px;
	white-space: nowrap;
	overflow-x: scroll;
    height: 30px;
}
div[class^="matheditor-wrapper-"] ul[class^="tabs-"] li{
    display: inline-block;
    padding: 2px 10px;
    cursor: pointer;
    margin: 0px;
    height: 25px;
	font-size: 20px;
}

div[class^="matheditor-wrapper-"] li.current{
    background: #444;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
}

div[class^="matheditor-wrapper-"] .tab-content-me{
    display: none;
}

div[class^="matheditor-wrapper-"] .tab-content-me.current{
    display: block;
    height: 88px;
    max-height: 88px;
    overflow-y: scroll;
}

.mq-math-mode var.mq-f {
    margin-right: 0;
    margin-left: 0;
}

div[class^="keyboard-"]{
	margin-top: 5px;
	margin-bottom: 5px;
}

div[id^="keys-"]{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
    text-align: center;
    display: block;
    position:fixed;
    z-index:999999;
    bottom:0px;
    left:0px;
    width:100%;
    background: #f5f5f5;
}

div[id^="keys-"] .ks:active {
  background-color: #ccc;
  box-shadow: 0 1px #555;
  transform: translateY(1px);
}

div[id^="keys-"] .ks{
    height: 45px;
    width: 25px;
    display: inline-block;
    background: #f5f5f5;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
	border: 1px solid;
	border-radius: 5px;
	margin: 1px;
    font-size: 14pt;
}
.long{
    width: 90px;
}
div[id^="keys-"] .ks.icon{
    font-weight: bold;
    font-size: 14pt;
}
div[id^="keys-"] .ks.takeup{
    background: #FFC0CB
}
div[id^="keys-"] .ks.too_long{
    background: #eeeeee;
}
div[id^="keys-"] .ks{
	
}